$font-stack: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$color-chat-blue: rgba(50, 63, 255, 0.9);
$color-chat-blue-light: rgba(50, 63, 255, 0.63);
$color-chat-gray: #f1f0f0;
$color-chat-gray-light: #f1f0f08c;
