body {
    background: #edf2f8;
    font-size: 1rem;
}

#main {
    font-family: "Quicksand", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.font-patrick-hand {
    font-family: "Patrick Hand", cursive !important;
}

.font-quicksand {
    font-family: "Quicksand", sans-serif !important;
}

.btn-tool-label {
    display: block;
    text-align: center;
    font-size: 0.7rem;
}

.btn-tool {
    color: #4d5969;
    background-color:#fff;
    border-color:#fff;
    box-shadow: 0 0 0 1px rgba(43,45,80,.1),
        0 2px 5px 0 rgba(43,45,80,.08),
        0 1px 1.5px 0 rgba(0,0,0,.07),
        0 1px 2px 0 rgba(0,0,0,.08);
}

.btn-tool:not(:disabled):not(.disabled):active,
.btn-tool:not(:disabled):not(.disabled).active {
    color: #4d5969;
    background-color: #e6e6e6;
    border-color:#dfdfdf;
}

.btn-tool:active {
    box-shadow: none;
    color: #010305 !important;
}

.btn-tool:hover:not(.disabled),
.btn-tool:focus:not(.disabled) {
    color: #010305 !important;
    box-shadow: 0 0 0 1px rgba(43,45,80,.1),
        0 2px 5px 0 rgba(43,45,80,.1),
        0 3px 9px 0 rgba(43,45,80,.08),
        0 1px 1.5px 0 rgba(0,0,0,.08),
        0 1px 2px 0 rgba(0,0,0,.08);
}

.btn-tool:hover:not(.active) {
    color: #4d5969;
    background-color: #fff;
    border-color:#fff;
}