#virtual-room {
    #vr-sidenav {
        width: 25%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-right: 1px solid #c9c9c98a;
        -webkit-box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
        -moz-box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
        box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);

        .logo {
            font-size: 2em;
            font-weight: bold;
            display: block;
            text-align: center;
        }

        #vr-client {
            margin: 30px 5% 30px 5%;

            .full_name {
                font-size: 1.4em;
                display: block;
            }
        }

        #vr-chats {
            margin-top: 20px;

            span {
                &.title {
                    display: block;
                    font-size: .9em;
                    text-align: center;
                    color: #b0b0b0;
                    padding-bottom: 10px;
                }
            }

            #vr-chatbox {
                background: #fff;
                height: 400px;
                -webkit-box-shadow: inset 0px 43px 48px -38px rgba(230,230,230, .5);
                -moz-box-shadow: inset 0px 43px 48px -38px rgba(230,230,230,.5);
                box-shadow: inset 0px 43px 48px -38px rgba(230,230,230, .5);
                position:relative;
                padding: 10px;
                overflow-y: scroll;
                margin: 0 10px 10px 10px;
            }
        }

        #vr-typebox {
            padding: 10px;
            display: block;
            padding: 10px;
            border: 1px solid #c9c9c98a;
            border-radius: 10px;
            margin: 0 10px;

            .wrapper {
                display: table;
                width: 100%;
            }

            .send {
                box-shadow: none;
                display: table-cell;
                margin-left: 10px;
                vertical-align: top;
            }

            .typebox {
                resize: none;
                font-family: inherit;
                font-size: 1em;
                display: table-cell;
                width: 75%;
                vertical-align: top;
                border: 0;
                outline: 0;
            }
        }
    }

    #vr-board {
        position: absolute;
        width: 75%;
        height: 100%;
        left: 25%;
        top: 0;
        background: #ebebeb66;

        #vr-drawingboard {
            display: block;
            width: 90%;
            height: 70%;
            margin: 5% auto 0 auto;
            background: #fff;
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 0px solid #000000;
            -webkit-box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
            -moz-box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
            box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
        }
    }

    #vr-person {
        position: absolute;
        right: 30px;
        bottom: 50px;
        background: #0000007d;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        cursor: hand;
        opacity: 0.5;

        &:hover {
            background: #333;
            opacity: 1;
        }

        span.full_name {
            display: block;
            font-size: 1.1em;
            color: #fff;
        }
    }

    #vr-tools {
        position: absolute;
        left: 27.5%;
        bottom: 20px;
        display: block;

        ul.tool-nav li {
            list-style-type: none;
            display: inline-block;
            margin: 0;

            &:not(:last-child) {
                border-right: 1px solid #eee;
                padding-right: 20px;
            }

            &:not(:first-child) {
                padding-left: 20px;
            }

            a {
                color: rgb(175, 175, 175);
                text-decoration: none;
                display: table;

                &:hover {
                    color: #666;
                    span.icon {
                        &.emoji {
                            color: #1B9546;
                        }
                        &.star {
                            color: #ff8d00;
                        }
                    }
                }

                span {
                    &.icon {
                        display: table-cell;
                        vertical-align: top;
                    }

                    &.text {
                        display: table-cell;
                        font-size: 1.8em;
                        vertical-align: top;
                        padding-top: 8px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

span {
    &.a {
        color: #1B9546;
    }

    &.b {
        color: #FCB02F;
    }
}

.chat-left {
    margin-bottom: 20px;
    display: block;
    text-align: left;

    span {
        padding: 10px;
        background: $color-chat-gray-light;
        color: #333;
        border-radius: 10px;
        display: inline-block;

        &:hover {
            background: $color-chat-gray;
        }
    }
}

.chat-right {
    bottom: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: right;

    span {
        padding: 10px;
        background: $color-chat-blue-light;
        color: #fff;
        border-radius: 10px;
        display: inline-block;

        &:hover {
            background: $color-chat-blue;
        }
    }
}

#vr-settings-button {
    display: block;
    position: absolute;
    background: #222;
    right: 0;
    top: 20px;
    color: #fff;
    padding: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}