$sidenav-width: 23%;
$board-width: 77%;

#virtual-room {
    #vr-sidenav {
        width: $sidenav-width;
        height: 100%;
        position: fixed;
        overflow-y: auto;
        top: 0;
        left: 0;
        border-right: 1px solid #c9c9c98a;
        -webkit-box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
        -moz-box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
        box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);

        .logo {
            font-size: 2em;
            font-weight: bold;
            display: block;
            text-align: center;
        }

        #vr-client {
            margin: 30px 5% 30px 5%;

            .full_name {
                font-size: 1.2em;
                display: block;
            }
        }

        #vr-chats {
            margin-top: 20px;

            span {
                &.title {
                    display: block;
                    font-size: .9em;
                    text-align: center;
                    color: #b0b0b0;
                    padding-bottom: 10px;
                }
            }

            #vr-chatbox {
                background: #fff;
                height: 400px;
                -webkit-box-shadow: inset 0px 43px 48px -38px rgba(230,230,230, .5);
                -moz-box-shadow: inset 0px 43px 48px -38px rgba(230,230,230,.5);
                box-shadow: inset 0px 43px 48px -38px rgba(230,230,230, .5);
                position:relative;
                padding: 10px;
                overflow-y: auto;
                margin: 0 10px 10px 10px;
            }
        }

        #vr-typebox {
            padding: 10px;
            display: block;
            padding: 10px;
            border: 1px solid #c9c9c98a;
            border-radius: 10px;
            margin: 0 10px;

            .wrapper {
                display: table;
                width: 100%;
            }

            .send {
                box-shadow: none;
                display: table-cell;
                vertical-align: top;
            }

            .typebox {
                resize: none;
                font-family: inherit;
                font-size: 1em;
                display: table-cell;
                width: 75%;
                margin-right: 10px;
                vertical-align: top;
                border: 0;
                outline: 0;
            }
        }
    }

    #vr-board {
        position: fixed;
        overflow-y: auto;
        width: $board-width;
        height: 100%;
        left: $sidenav-width;
        top: 0;
        background: #ebebeb66;

        .vr-drawingboard {
            display: block;
            width: 90%;
            min-height: 1000px;
            margin: 7% auto 0 auto;
            background: #fff;
            border: 0px solid #000000;
            -webkit-box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
            -moz-box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
            box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
        }
    }
}

#vr-toolbox {
    position: fixed;
    bottom: 0;
    width: 60%;

    .tool-controls {
        padding-bottom: 20px;
    }

    #brush-preview {
        width: 50px;
        height: 50px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;

        .dot {
            width: 5px;
            height: 5px;
            background: #000;
            border-radius: 100%;
        }
    }

    #eraser-preview {
        width: 50px;
        height: 50px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;

        .dot {
            width: 5px;
            height: 5px;
            background: #000;
            border-radius: 100%;
        }
    }

    span.divider {
        display: block;
        color: #c5c5c5;
        font-size: .6em;
        font-weight: bold;
        letter-spacing: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
    }

    div.tools {
        margin-top: 10px;
        margin-bottom: 20px;

        a {
            font-size: .8em;
            color: #c5c5c5;
            display: inline-block;
            padding: 5px 10px;
            background: #000;
            text-decoration: none;
            margin-right: -5px;

            &:hover, &.active {
                background: #c5c5c5;
                color: #000;
            }
        }
    }
    
    a#toolbox-toggle {
        background: #1f1f1f;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: block;
        margin-left: 20px;
        padding: 5px 10px;
        font-size: 0.8em;
        text-decoration: none;
        color: #fff;
        width: 70px;
    }

    .toolbox {
        background: #1f1f1f;
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

span {
    &.a {
        color: #1B9546;
    }

    &.b {
        color: #FCB02F;
    }
}

.chat-left {
    margin-bottom: 20px;
    display: block;
    text-align: left;

    span {
        padding: 10px;
        background: $color-chat-gray-light;
        color: #333;
        border-radius: 10px;
        display: inline-block;

        &:hover {
            background: $color-chat-gray;
        }
    }
}

.chat-right {
    bottom: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: right;

    span {
        padding: 10px;
        background: $color-chat-blue-light;
        color: #fff;
        border-radius: 10px;
        display: inline-block;

        &:hover {
            background: $color-chat-blue;
        }
    }
}

div#file-dropZone {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 1;
    visibility: hidden;

    .dropbox {
        display: block;
        width: 40%;
        margin: 200px auto 0 auto;
        text-align: center;
        border: 5px dashed #ddd;
        padding: 100px;
    }
}


div#vr-tabs {
    display: block;
    width: 90%;
    margin: 0 auto;
    ul {
        margin: 0;
        padding: 0;

        li {
            float: left;
            list-style-type: none;
            display: block;
            cursor: pointer;
            background: #fff;
            border-bottom: 1px solid rgba(51, 51, 51, 0.1);
            border-right: 1px solid rgba(51, 51, 51, 0.1);
            padding: 10px 15px;
            font-size: 0.9em;
            margin: 0;

            a.close {
                display: block;
                float: right;
                margin-left: 20px;
                color: #c5c5c5;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }

            &.active {
                border-left: 3px solid rgba(51, 51, 51, 0.1);
                border-right: 3px solid rgba(51, 51, 51, 0.1);
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 15px;
                background: #1f1f1f;
                color: #fff;
            }

            &:last-child {
                border-right: 1px solid rgba(51, 51, 51, 0.1);
                border-bottom-right-radius: 5px;
            }

            &:hover {
                background: rgb(50, 62, 71);
                color: #fff;
            }
        }
    }
}