$sidenav-width: 23%;
$board-width: 77%;

#virtual-room {
    #vr-sidenav {
        width: $sidenav-width;
        height: 100%;
        position: fixed;
        overflow-y: auto;
        top: 0;
        left: 0;
        border-right: 1px solid #c9c9c98a;
        -webkit-box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
        -moz-box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
        box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);

        .logo {
            font-size: 2em;
            font-weight: bold;
            display: block;
            text-align: center;
        }

        #vr-client {
            margin: 30px 5% 30px 5%;

            .full_name {
                font-size: 1.2em;
                display: block;
            }
        }

        #vr-chats {
            margin-top: 20px;

            span {
                &.title {
                    display: block;
                    font-size: .9em;
                    text-align: center;
                    color: #b0b0b0;
                    padding-bottom: 10px;
                }
            }

            #vr-chatbox {
                background: #fff;
                height: 400px;
                -webkit-box-shadow: inset 0px 43px 48px -38px rgba(230,230,230, .5);
                -moz-box-shadow: inset 0px 43px 48px -38px rgba(230,230,230,.5);
                box-shadow: inset 0px 43px 48px -38px rgba(230,230,230, .5);
                position:relative;
                padding: 10px;
                overflow-y: auto;
                margin: 0 10px 10px 10px;
            }
        }

        #vr-typebox {
            padding: 10px;
            display: block;
            padding: 10px;
            border: 1px solid #c9c9c98a;
            border-radius: 10px;
            margin: 0 10px;

            .wrapper {
                display: table;
                width: 100%;
            }

            .send {
                box-shadow: none;
                display: table-cell;
                vertical-align: top;
            }

            .typebox {
                resize: none;
                font-family: inherit;
                font-size: 1em;
                display: table-cell;
                width: 75%;
                margin-right: 10px;
                vertical-align: top;
                border: 0;
                outline: 0;
            }
        }
    }

    #vr-board {
        position: fixed;
        overflow-y: auto;
        width: $board-width;
        height: 100%;
        left: $sidenav-width;
        top: 0;
        background: #ebebeb66;

        .vr-drawingboard {
            display: block;
            width: 90%;
            height: 1000px;
            margin: 5% auto 0 auto;
            background: #fff;
            border: 0px solid #000000;
            -webkit-box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
            -moz-box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
            box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
        }

        #vr-board-control {
            background: rgba(78, 78, 78, 0.7);
            position: fixed;
            bottom: 20px;
            margin: 0 auto;

            &:hover {
                background: rgba(78, 78, 78, 0.9);
            }

            ul.nav {
                margin: 0;
                padding:0;
                display: table;

                li {
                    display: table-cell;
                    vertical-align: middle;
                    list-style-type: none;
                    margin: 0;
                    padding: 10px;
                    color: #ffffff;
                    cursor: pointer;

                    &:hover {
                        background: rgb(50, 62, 71);
                    }

                    div.popup {
                        background: rgba(78, 78, 78, 0.7);
                        width: auto !important;
                        padding: 10px !important;

                        &:hover {
                            background: rgba(78, 78, 78, 0.9);
                        }

                        span {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

span.floating-pen {
    float: left;
    position: absolute;
    margin-left: -7px;
    margin-top: -7px;
    color: #191919;
}

span.thickness {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;

    &.thick-1 {
        background: url("../../img/thick-1.png") no-repeat scroll center;
    }

    &.thick-2 {
        background: url("../../img/thick-2.png") no-repeat scroll center;
    }

    &.thick-3 {
        background: url("../../img/thick-3.png") no-repeat scroll center;
    }
}

span.color-display {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;

    &.black {
        background: #000;
    }

    &.red {
        background: #f03;
    }

    &.white {
        background: #fff;
    }

    &.yellow {
        background: #f6ff00;
    }

    &.orange {
        background: #FCB02F;
    }
}

span {
    &.a {
        color: #1B9546;
    }

    &.b {
        color: #FCB02F;
    }
}

.chat-left {
    margin-bottom: 20px;
    display: block;
    text-align: left;

    span {
        padding: 10px;
        background: $color-chat-gray-light;
        color: #333;
        border-radius: 10px;
        display: inline-block;

        &:hover {
            background: $color-chat-gray;
        }
    }
}

.chat-right {
    bottom: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: right;

    span {
        padding: 10px;
        background: $color-chat-blue-light;
        color: #fff;
        border-radius: 10px;
        display: inline-block;

        &:hover {
            background: $color-chat-blue;
        }
    }
}