@import 'variables';

html, body {
    height: 100%;
    font-family: $font-stack;
}
    
.font-patrick-hand {
    font-family: 'Patrick Hand', cursive !important;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif !important;
}

@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}

@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    box-shadow: $property;
}

@mixin gradient-background($fromColor, $toColor) {
    background: $fromColor;
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor);
    background-image: -moz-linear-gradient(top, $fromColor, $toColor);
    background-image: -ms-linear-gradient(top, $fromColor, $toColor);
    background-image: -o-linear-gradient(top, $fromColor, $toColor);
    background-image: linear-gradient(to bottom, $fromColor, $toColor);
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    &.fncy-button {
        border-top: none;
        border-left: none;
        border-right: none;
        cursor: pointer;
        _cursor: hand;
        font-family: inherit;
        font-size: 1em;
    }
}
.fncy-green {
    @include gradient-background(#54b574, #4fb06e);
    @include border-radius(8px);
    @include box-shadow(0px 10px 20px #4bab69);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-bottom: solid #499c64 5px;
    text-decoration: none;

    &:hover {
        @include gradient-background(#54b574, #5dd483);
        color: #ffffff;
        text-decoration: none;
    }
}

.fncy-orange {
    @include border-radius(8px);
    @include box-shadow(0px 10px 20px #ff833b);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #f9670c;
    padding: 10px 20px 10px 20px;
    border-bottom: solid #e65c12 5px;
    text-decoration: none;

    &:hover {
        @include gradient-background(#f9670c, #ff8742);
        color: #ffffff;
        text-decoration: none;
    }
}

#main-app {
    #left-column {
        position: fixed;
        left: 0;
        top:0;
        bottom:0;
        overflow-x: hidden;
        overflow-y: auto;
        width: 260px;
        z-index:1;
        border-right: rgba(199, 199, 199, 0.26) 1px solid;

        .student-full-name {
            display: block;
            margin-top: 10px;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
        }

        .vertical-nav {
            a, span {
                text-align: center;
                display: block;
            }

            span {
                margin-bottom: 5px;
            }

            a {
                margin-bottom: 30px;
                text-decoration: none;
                color: rgba(68, 80, 123, 0.3);
                font-family: 'Quicksand', sans-serif !important;
                font-size: 0.9em;
                font-weight: 700;

                &:hover, &.active {
                    color: #44507B;
                }
            }
        }
    }

    #right-column {
        margin-left: 260px;
    }

    .content-header {
        padding-bottom: 20px;

        span {
            color: #44507B;
            font-family: 'Quicksand', sans-serif !important;
            font-weight: 700;
            font-size: 1.5em;
        }
    }

    nav {
        &#classroom-nav {
            display: block;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 15px;
            padding-bottom: 8px;
            border-bottom: 5px solid #F6F8FA;

            a {
                display: inline;
                text-align: center;
                color: #44507B;
                text-decoration: none;
                font-family: 'Quicksand', sans-serif;
                font-weight: 900;

                span {
                    padding: 10px 30px;
                }
                &:hover, &.uk-active {
                    span {
                        color: #f9670c;
                        border-bottom: 5px solid #f9670c;
                    }
                }
            }
        }
    }
}

.fncy-label-green,
.fncy-label-green:hover {
    background: #66D682;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

#classroom-notif {
    background: url("../../img/green-bg.png") repeat scroll;
    padding: 20px 20px 40px 20px;
    margin-top: 10px;
    color: #fff;

    .status {
        color: #fff;
    }

    .participants {
        margin-bottom: 10px;
        text-align: center;

        &:nth-child(1) {
            margin-right: 20px;
        }

        span {
            color: #fff;
            margin-top: 10px;
            display: block;
        }

        img {
            border: 5px #fff solid;
        }
    }
}

#enter-classroom {
    font-weight: bolder;
    display: block;
}

.notification {
    padding: 20px;
    border: rgba(199, 199, 199, 0.26) 1px solid;
    margin-bottom: 20px;

    .from {
        border-bottom: rgba(199, 199, 199, 0.26) 1px solid;

        a.person {
            display: block;
            font-size: 1.4em;
            margin-top: 10px !important;

            &:hover {
                text-decoration: none;
            }
        }

        img {
            margin-right: 20px;
            margin-bottom: 10px;
        }
    }

    .message {
        padding: 10px 0px;
    }

    &.unread {
        .message a {
            color: #f9670c;
        }

        .from {
            img {
                border: 3px solid #fff;
            }

            a.person {
                color: #44507B;
                font-weight: bold;
            }
        }

        .message {
            color: #44507B;
        }
    }
}

.feedback {
    border-bottom: rgba(199, 199, 199, 0.26) 1px solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

@import 'classroom.scss';