#virtual-room #vr-sidenav {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #c9c9c98a;
    -webkit-box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
    -moz-box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
    box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
}
#virtual-room #vr-board {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 25%;
    top: 0;
    background: #ebebeb66;
}

#virtual-room #vr-board #vr-drawingboard {
    display: block;
    width: 90%;
    height: 70%;
    margin: 5% auto 0 auto;
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
    box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
}

#virtual-room #vr-sidenav .logo {
    font-size: 2em;
    font-weight: bold;
    display: block;
    text-align: center;
}
#virtual-room #vr-sidenav #vr-client {
    margin: 30px 5% 30px 5%;
}
#virtual-room #vr-sidenav #vr-client .full_name {
    font-size: 1.4em;
    display: block;
}

#virtual-room #vr-sidenav #vr-chats {
    margin-top: 20px;
}

#virtual-room #vr-sidenav #vr-chats span.title {
    display: block;
    font-size: .9em;
    text-align: center;
    color: #b0b0b0;
    padding-bottom: 10px;
}

#virtual-room #vr-sidenav #vr-chats #vr-chatbox {
    background: #fff;
    height: 400px;
    -webkit-box-shadow: inset 0px 43px 48px -38px rgba(230,230,230, .5);
    -moz-box-shadow: inset 0px 43px 48px -38px rgba(230,230,230,.5);
    box-shadow: inset 0px 43px 48px -38px rgba(230,230,230, .5);
    position:relative;
    padding: 10px;
    overflow-y: scroll;
    margin: 0 10px 10px 10px;
}
#virtual-room #vr-sidenav #vr-typebox {
    padding: 10px;
    display: block;
    padding: 10px;
    border: 1px solid #c9c9c98a;
    border-radius: 10px;
    margin: 0 10px;
}
#virtual-room #vr-sidenav #vr-typebox .wrapper {
    display: table;
    width: 100%;
}
#virtual-room #vr-sidenav #vr-typebox .send {
    box-shadow: none;
    display: table-cell;
    margin-left: 10px;
    vertical-align: top;
}
#virtual-room #vr-sidenav #vr-typebox .typebox {
    resize: none;
    font-family: inherit;
    font-size: 1em;
    display: table-cell;
    width: 75%;
    vertical-align: top;
    border: 0;
    outline: 0;
}
span.a {
    color: #1B9546;
}
span.b {
    color: #FCB02F;
}

.chat-left {
    margin-bottom: 20px;
    display: block;
    text-align: left;
}
.chat-left span {
    padding: 10px;
    background: #F1F0F0;
    color: #333;
    border-radius: 10px;
    display: inline-block;
}

.chat-right {
    bottom: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: right;
}
.chat-right span {
    padding: 10px;
    background: #323FFF;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
}


#virtual-room #vr-person {
    position: absolute;
    right: 30px;
    bottom: 50px;
    background: #0000007d;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    cursor: hand;
    opacity: 0.5;
}

#virtual-room #vr-person:hover {
    background: #333;
    opacity: 1;
}

#virtual-room #vr-person span.full_name {
    display: block;
    font-size: 1.1em;
    color: #fff;
}
#virtual-room #vr-tools {
    position: absolute;
    left: 27.5%;
    bottom: 20px;
    display: block;
}

#vr-tools ul.tool-nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
}
#vr-tools ul.tool-nav li:not(:last-child) {
    border-right: 1px solid #eee;
    padding-right: 20px;
}
#vr-tools ul.tool-nav li:not(:first-child) {
    padding-left: 20px;
}

#vr-tools ul.tool-nav li a {
    color: rgb(175, 175, 175);
    text-decoration: none;
    display: table;
}
#vr-tools ul.tool-nav li a:hover {
    color: #666;
}
#vr-tools ul.tool-nav li a span.icon {
    display: table-cell;
    vertical-align: top;
}
#vr-tools ul.tool-nav li a:hover span.icon.star {
    color: #ff8d00;
}

#vr-tools ul.tool-nav li a:hover span.icon.emoji {
    color: #1B9546;
}
#vr-tools ul.tool-nav li a span.text {
    display: table-cell;
    font-size: 1.8em;
    vertical-align: top;
    padding-top: 8px;
    padding-left: 10px;
}

.light-bar {
    background: #ffffff;
}
.light-bar * {
    color: #666 !important;
}
.light-header {
    border-bottom: 1px solid rgba(102, 102, 102, 0.2);
    display: block;
    padding-bottom: 20px;
}

#vr-settings-button {
    display: block;
    position: absolute;
    background: #222;
    right: 0;
    top: 20px;
    color: #fff;
    padding: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}