#virtual-room #vr-sidenav {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #c9c9c98a;
    -webkit-box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
    -moz-box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
    box-shadow: 28px 0px 27px -21px rgba(179, 179, 179, 0.28);
}
#virtual-room #vr-board {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 25%;
    top: 0;
    background: #ebebeb66;
}

#virtual-room #vr-board #vr-drawingboard {
    display: block;
    width: 90%;
    height: 70%;
    margin: 5% auto 0 auto;
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
    box-shadow: 0px 0px 41px -21px rgba(189,189,189,1);
}

#virtual-room #vr-board #vr-drawingboard #vr-canvas {
    
}

#virtual-room #vr-sidenav .logo {
    font-size: 2em;
    font-weight: bold;
    display: block;
    text-align: center;
}
#virtual-room #vr-sidenav #vr-client {
    margin: 30px 5% 30px 5%;
}
#virtual-room #vr-sidenav #vr-client .full_name {
    font-size: 1.4em;
    display: block;
}

#virtual-room #vr-sidenav #vr-chats {
    margin-top: 20px;
}

#virtual-room #vr-sidenav #vr-chats span.title {
    display: block;
    font-size: .9em;
    text-align: center;
    color: #b0b0b0;
    padding-bottom: 10px;
}

#virtual-room #vr-sidenav #vr-chats #vr-chatbox {
    background: #fff;
    height: 400px;
    -webkit-box-shadow: inset 0px 43px 48px -38px rgba(230,230,230, .5);
    -moz-box-shadow: inset 0px 43px 48px -38px rgba(230,230,230,.5);
    box-shadow: inset 0px 43px 48px -38px rgba(230,230,230, .5);
    position:relative;
    padding: 10px;
}
#virtual-room #vr-sidenav #vr-typebox {
    width: 100%;
}
#virtual-room #vr-sidenav #vr-typebox .send {
    float: left;
    position: absolute;
    right: 20px;
    margin-top: 15px;
    box-shadow: none;
}
#virtual-room #vr-sidenav #vr-typebox .typebox {
    resize: none;
    display: block;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #c9c9c98a;
    padding: 10px;
    font-family: inherit;
    font-size: 1em;
}
span.a {
    color: #1B9546;
}
span.b {
    color: #FCB02F;
}

.chat-left {
    position: absolute;
    left: 15;
    bottom: 70px;
    margin-bottom: 20px;
    display: block;
    text-align: left;
}
.chat-left span {
    padding: 10px;
    background: #F1F0F0;
    color: #333;
    border-radius: 10px;
}

.chat-right {
    position: absolute;
    bottom: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: right;
    right: 15px;
}
.chat-right span {
    padding: 10px;
    background: #323FFF;
    color: #fff;
    border-radius: 10px;
}