html, body {
height: 100%;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-patrick-hand {
    font-family: 'Patrick Hand', cursive !important;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif !important;
}

button.fncy-button,
input[type="button"].fncy-button,
input[type="submit"].fncy-button,
input[type="reset"].fncy-button {
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    _cursor: hand;
    font-family: inherit;
    font-size: 1em;
}
.fncy-green {
    background: #54b574;
    background-image: -webkit-linear-gradient(top, #54b574, #4fb06e);
    background-image: -moz-linear-gradient(top, #54b574, #4fb06e);
    background-image: -ms-linear-gradient(top, #54b574, #4fb06e);
    background-image: -o-linear-gradient(top, #54b574, #4fb06e);
    background-image: linear-gradient(to bottom, #54b574, #4fb06e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 20px #4bab69;
    -moz-box-shadow: 0px 10px 20px #4bab69;
    box-shadow: 0px 10px 20px #4bab69;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-bottom: solid #499c64 5px;
    text-decoration: none;
}

.fncy-green:hover {
    background: #54b574;
    background-image: -webkit-linear-gradient(top, #54b574, #5dd483);
    background-image: -moz-linear-gradient(top, #54b574, #5dd483);
    background-image: -ms-linear-gradient(top, #54b574, #5dd483);
    background-image: -o-linear-gradient(top, #54b574, #5dd483);
    background-image: linear-gradient(to bottom, #54b574, #5dd483);
    color: #ffffff;
    text-decoration: none;
}

.fncy-orange {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 20px #ff833b;
    -moz-box-shadow: 0px 10px 20px #ff833b;
    box-shadow: 0px 10px 20px #ff833b;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #f9670c;
    padding: 10px 20px 10px 20px;
    border-bottom: solid #e65c12 5px;
    text-decoration: none;
}

.fncy-orange:hover {
    background: #f9670c;
    background-image: -webkit-linear-gradient(top, #f9670c, #ff8742);
    background-image: -moz-linear-gradient(top, #f9670c, #ff8742);
    background-image: -ms-linear-gradient(top, #f9670c, #ff8742);
    background-image: -o-linear-gradient(top, #f9670c, #ff8742);
    background-image: linear-gradient(to bottom, #f9670c, #ff8742);
    color: #ffffff;
    text-decoration: none;
}

#main-app #left-column {
    position: fixed;
    left: 0;
    top:0;
    bottom:0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 260px;
    z-index:1;
    border-right: rgba(199, 199, 199, 0.26) 1px solid;
}

#main-app #left-column .student-full-name {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.fncy-label-green,
.fncy-label-green:hover {
    background: #66D682;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

#main-app #right-column {
    margin-left: 260px;
}

#main-app #left-column .vertical-nav a,
#main-app #left-column .vertical-nav span {
    text-align: center;
    display: block;
}
#main-app #left-column .vertical-nav a span {
    margin-bottom: 5px;
}
#main-app #left-column .vertical-nav a {
    margin-bottom: 30px;
    text-decoration: none;
    color: rgba(68, 80, 123, 0.3);
    font-family: 'Quicksand', sans-serif !important;
    font-size: 0.9em;
    font-weight: 700;
}

#main-app #left-column .vertical-nav a:hover,
#main-app #left-column .vertical-nav a.active {
    color: #44507B;
}
#main-app .content-header {
    /*border-bottom: 1px solid rgba(199, 199, 199, 0.26);*/
    padding-bottom: 20px;
}
#main-app .content-header span {
    color: #44507B;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 700;
    font-size: 1.5em;
}


#classroom-notif {
    background: url('../img/green-bg.png') repeat scroll;
    padding: 20px 20px 40px 20px;
    margin-top: 10px;
    color: #fff;
}
#classroom-notif .status {
    color: #fff;
}
#classroom-notif .participants {
    margin-bottom: 10px;
    text-align: center;
}
#classroom-notif .participants:nth-child(1) {
    margin-right: 20px;
}
#classroom-notif .participants span {
    color: #fff;
    margin-top: 10px;
    display: block;
}
#classroom-notif .participants img {
    border: 5px #fff solid;
}
#main-app nav#classroom-nav {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 5px solid #F6F8FA;
}

#main-app nav#classroom-nav a {
    display: inline;
    text-align: center;
    color: #44507B;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    
}
#main-app nav#classroom-nav a span {
    padding: 10px 30px;
}
#main-app nav#classroom-nav a:hover span,
#main-app nav#classroom-nav a.uk-active span {
    color: #f9670c;
    border-bottom: 5px solid #f9670c;
}

#enter-classroom {
    font-weight: bolder;
    display: block;
}

.notification {
    padding: 20px;
    border: rgba(199, 199, 199, 0.26) 1px solid;
    margin-bottom: 20px;
}
.notification .from {
    border-bottom: rgba(199, 199, 199, 0.26) 1px solid;
}
.notification .from a.person {
    display: block;
    font-size: 1.4em;
    margin-top: 10px !important;
}
.notification .from a.person:hover {
    text-decoration: none;
}

.notification .from img {
    margin-right: 20px;
    margin-bottom: 10px;
}

.notification .message {
    padding: 10px 0px;
}

.notification.unread .message a {
    color: #f9670c;
}

.notification.unread {
    background: #EDF2FA;
}
.notification.unread .from img {
    border: 3px solid #fff;
}
.notification.unread .from a.person {
    color: #44507B;
    font-weight: bold;
}
.notification.unread .message {
    color: #44507B;
}

.feedback {
    border-bottom: rgba(199, 199, 199, 0.26) 1px solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}