/**
blue: 92c2fd
pink: fc719f
black: 4c4a4a
gray: 939393
light gray: ececec
*/
/**
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
*/

body {
    color: #4c4a4a;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.nav nav ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav nav ul li {
    list-style-type: none;
    display: inline-block;
}
.nav nav ul li:not(:last-child) {
    margin-right: 1.5rem;
}

.nav nav ul li a {
    text-decoration: none;
    color: #fc719f;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    padding: .5rem .8rem;
}

.nav nav ul li a:hover, .nav nav ul li a.active {
    background: #fc719f;
    color: #fff !important;
    border-radius: 5rem;
}

.nav nav ul li a.cta, .nav nav ul li a:hover.cta {
    text-shadow: 0px 1px 1px #4c4a4a;
    color: #ffffff;
    border-radius: 5rem;
    background: rgb(146,194,253);
    background: linear-gradient(50deg, rgba(146,194,253,1) 0%,
        rgba(194,158,211,0.633473457742472) 50%,
        rgba(252,113,159,1) 100%);
}

.nav nav ul li a.cta-blue {
    color: #92c2fd;
}

.intro-text {
    width: 400px;
}

h1.header {
    font-size: 2.5rem;
}
h3.header {
    font-size: 1.5rem;
}
h4.header {
    font-size: 1rem;
}
.header {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin: 0;
}

.sub-header {
    font-size: 1rem;
    color: #939393;
}
.intro-text p {
    font-size: 1rem;
}


.trans-blue {
    background: url('../img/blue-trans.png') no-repeat scroll transparent;
    background-position: top left;
    background-size: auto;
    width: 100%;
    min-height: 592px;
    height: auto;
}

.trans-pink {
    background: url('../img/pink-trans.png') no-repeat scroll transparent;
    background-position: top right;
    background-size: auto;
    width: 100%;
    min-height: 592px;
    height: auto;
}

/**
* .btn-*
*/
button.btn {
    border: 0 !important;
    cursor: pointer;
}
.btn-blue {
    background: #92c2fd;
    color: #fff;
    padding: 0.5rem .9rem;
    text-decoration: none;
    border-radius: .5rem;
    font-size: .9rem;
}

.btn-pink {
    background: #fc719f;
    color: #fff;
    padding: 0.5rem .9rem;
    text-decoration: none;
    border-radius: .5rem;
    font-size: .9rem;
}
.divider {
    background: #92c2fd;
    height: .5rem;
    width: 2rem;
    margin: 0 auto;
}

.programs {
    margin-top: 4rem;
}
.programs .programs-desc {
    margin-top: 13rem;
    width: 50%;
}

.r1 {
    margin-top: 5rem;
}
.r2 {
    margin-top: 2rem;
    margin-left: 3rem;
}
.program-card {
    background: #fff;
    margin-right: 3rem;
    padding: 1rem;
    border-radius: .35rem;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1),
        0 2px 5px 0 rgba(43, 45, 80, 0.08),
        0 1px 1.5px 0 rgba(0, 0, 0, 0.07),
        0 1px 2px 0 rgba(0, 0, 0, 0.08);
    width: 50%;
}

.program-card h1 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    font-family: 'Roboto Slab', serif;
}

.mvc {
    margin-top: 5rem;
}

.w-1h3 {
    width: 33.333333333333336%;
}

.text-center {
    text-align: center;
}

.grad-bg {
    background: rgb(146,194,253);
    background: linear-gradient(50deg, rgba(146,194,253,1) 0%,
        rgba(194,158,211,0.633473457742472) 50%,
        rgba(252,113,159,1) 100%);
}

.strip-header {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    color: #fff;
    background: rgb(146,194,253);
    background: linear-gradient(50deg, rgba(146,194,253,1) 0%,
        rgba(194,158,211,0.633473457742472) 50%,
        rgba(252,113,159,1) 100%);
}

.steps {
    margin-top: 2rem;
}

.steps .step {
    width: 20%;
    text-align: right;
}

.steps .step span {
    font-size: 5rem;
    font-family: 'Roboto Slab', serif;
    color: #92c2fd;
}

.steps .step-desc {
    width: 80%;
    text-align: left;
}

.steps .step-desc h1 {
    font-family: 'Roboto Slab', serif;
    color: #fc719f
}

.steps .step-desc p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.enroll-now {
    text-decoration: none;
    text-shadow: 1px 1px 1px #4c4a4a;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: 'Roboto Slab', serif;
    display: block;
    width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    font-weight: bold;
    color: #ffffff;
    background: rgb(146,194,253);
    background: linear-gradient(50deg, rgba(146,194,253,1) 0%,
        rgba(194,158,211,0.633473457742472) 50%,
        rgba(252,113,159,1) 100%);
}

.teachers {
    margin-top: 3rem;
}

.teacher {
    background: #ffffff;
    margin-right: 2rem;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.teacher.active {
    background: rgb(146,194,253);
    background: linear-gradient(50deg, rgba(146,194,253,1) 0%,
        rgba(194,158,211,0.633473457742472) 50%,
        rgba(252,113,159,1) 100%);
}

.teacher.active img {
    opacity: 1;
}

.teacher:hover img {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
}

.teacher img {
    border-radius: 50%;
    width: 150px;
    padding: 0;
    margin: 0;
    display: block;
    box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1),
        0 2px 5px 0 rgba(43, 45, 80, 0.08),
        0 1px 1.5px 0 rgba(0, 0, 0, 0.07),
        0 1px 2px 0 rgba(0, 0, 0, 0.08);
    opacity: .5;
    transition-duration: 1s;
    transition-property: opacity;
}

.teacher-content {
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 4rem;
}

.faqs .question span {
    display: inline-block;
    margin-right: 1rem;
    background: url('../img/raquo.png') no-repeat scroll transparent;
    width: 6px;
    height: 12px;
}

.faqs .question {
    text-decoration: none;
    font-size: 1.2rem;
    color: #92c2fd;
    line-height: 1.2rem;
    border-bottom: 1px solid #f0f0f0;
    padding: 1rem;
}

.faqs .answer {
    margin-top: 1rem;
    padding: .5rem .5rem 2rem 2rem;
}

.contact {
    margin-top: 3rem;
    padding-top: 2rem;
}

.login {
    margin-top: 3rem;
    padding-top: 2rem;
}

.white-form {
    display: block;
    margin: 0 auto;
    width: 50%;
    background: #fff;
    padding: 2rem;
    border-radius: .355rem;
    box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1),
        0 2px 5px 0 rgba(43, 45, 80, 0.08),
        0 1px 1.5px 0 rgba(0, 0, 0, 0.07),
        0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.field label {
    display: block;
    font-family: 'Roboto Slab', serif;
}

.field textarea {
    resize: none;
}
.field input, .field textarea, .field select {
    border: 1px solid #ececec;
    outline: 0;
    display: block;
    width: 100%;
    margin-top: .5rem;
    padding: .7rem;
    transition-property: border;
    transition-duration: 500ms;
    border-radius: .355rem;
    font-size: .8rem;
}

.field input:focus, .field input:hover,
.field textarea:focus, .field textarea:hover,
.field select:focus, .field select:hover {
    border: 1px solid #4c4a4a;
}

.field:not(:last-child) {
    margin-bottom: 1rem;
}

.bluepink-button {
    display: block;
    font-size: 1.1rem;
    font-family: 'Roboto Slab', serif;
    padding: 1rem 2rem;
    box-shadow: 3px 5px 0px #939393;
    transition-duration: 1s;
    transition-property: background-color, box-shadow;
}
.bluepink-button:hover {
    background: #fc719f;
    box-shadow: 3px 5px 0px #4c4a4a;
}

.blue-link {
    color: #92c2fd;
    font-size: 1.2em;
    text-decoration: none;
}

.blue-link:hover {
    color: #fc719f;
    text-decoration: underline;
}

.cu-socmed .soc:not(:last-child) {
    margin-right: 1rem;
}

.error {
    color: #ff4949;
    padding: .3rem 0;
    font-weight: bold;
}

.required {
    color: #ff4949;
    font-weight: bold;
}

.box-success {
    padding: 1rem;
    background: #d9ffc4;
    border: 1px solid #c0db9f;
    border-radius: .355rem;
    margin-bottom: 1.2rem;
    box-shadow: 6px 6px 0px #f2f2f2;
    font-size: .8rem;
}

.box-error {
    padding: 1rem;
    background: #ff8686;
    border: 1px solid #a43636;
    border-radius: .355rem;
    margin-bottom: 1.2rem;
    box-shadow: 6px 6px 0px #f2f2f2;
    font-size: .8rem;
    color: #fff;
}


.login-switcher {
    background: #f2f2f2;
    border-radius: 5rem;
    font-family: 'Roboto Slab', serif
}

.login-switcher .switch {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 5rem;
    cursor: pointer;
    font-weight: bold;
    color: #4c4a4a;
    text-shadow: 0px 1px 1px #fff;
}
.login-switcher .switch-active {
    color: #fff;
    background: rgb(146,194,253);
    background: linear-gradient(50deg, rgba(146,194,253,1) 0%,
        rgba(194,158,211,0.633473457742472) 50%,
        rgba(252,113,159,1) 100%);
    text-shadow: 0px 1px 1px #4c4a4a;
}

.enrollment {
    padding-top: 2em;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
